.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(119, 119, 167);
    height: 150px;
}

h1{
    font-family: "Poppins";
    font-size: 40px;
    color: white;
    background-color: black;

}